.chat {
    display: flex;
    height: 100%;
    overflow-y: auto;
}

.chat__messages {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 80vh;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

.users {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 30%;
    min-width: 350px;
    overflow-y: auto;
    text-align: left;
}

.messageYour {
    align-self: flex-end;
}